server {
    listen       80;
    server_name  localhost;
    location / {
        root   /opt/contacts-ui/;
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location /contacts {
        proxy_pass http://${API_HOST}:${API_PORT};
    }
}
